---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import { Image } from 'astro:assets';
import daichi from '/src/assets/img/daichi.png';
import mmi from '/src/assets/img/mmi-dw.png';
import laravel from '/src/assets/img/laravel.png';
import manga from '/src/assets/img/manga.png';
import background from '/src/assets/img/background.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

let title = Astro.props;
---

<Head title='Portfolio' />
<Layout
	class='relative'
	title='Portfolio'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Portfolio' />
	</div>
	<!-- ABOUT ME -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={background}
		class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>

			<PortfolioCard
				img={daichi}
				alt={title}
				site="https://exemple.showmyteam.fr/"
				title='Maquette de site pour team esport'
				badgeProps={[
					{ text: "JavaScript" },
					{ text: "HTML/CSS" }
			]}
				
				badgeLinkProps={[ 
					{text: "Bootstrap", alt: "Bootstrap logo", href: "https://getbootstrap.com/"}
					

			 ]}
				description={`
				Le site développé représente une maquette de site pour une team esport, 
				dans ce site on peut voir les membres de la team, les jeux sur lesquels ils jouent, 
				les réseaux sociaux de la team, et une boutique afin d'acheter des produits.
				`}
			>
	</PortfolioCard>

		<PortfolioCard
		img={mmi}
		alt={title}
		site="https://communaute-mmi.fr/"
		title='Communauté MMI site web'
		badgeProps={[
			{ text: "JavaScript" },
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "WordPress", alt: "WordPress logo", href: "https://wordpress.com/"},
		]}
			description={`
			Le site de la communauté MMI est basé sur WordPress CMS, avec mon groupe nous avons ajouté des plugins pour améliorer l'expérience utilisateur,
			et nous avons également ajouté des fonctionnalités pour les étudiants et les professeurs. 
			`}
		>
		</PortfolioCard>

		<PortfolioCard
		img={laravel}
		alt={title}
		site="https://back5.arena.etu.mmi-unistra.fr/gestscol/public/student"
		title='Gestscol - Projet Scolaire'
		badgeProps={[
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "Laravel", alt: "Laravel logo", href: "https://laravel.com/"},
				{text: "PHP", alt: "PHP logo", href: "https://www.php.net/"},
		]}
			description={`
			Gestscol est un projet scolaire, c'est un site web qui permet de gérer les étudiants, les cours, les groupes, 
			les promotions et les emplois du temps. Grâce à ce projet, j'ai pu apprendre à utiliser le framework Laravel,
			et j'ai pu aussi apprendre à utiliser filament pour les filtres. 
			`}
		>
		</PortfolioCard>

		<PortfolioCard
		img={manga}
		alt={title}
		site="https://manga.arena.etu.mmi-unistra.fr/"
		title='Manga Collection - Projet Scolaire'
		badgeProps={[
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "PHP", alt: "PHP logo", href: "https://www.php.net/"},
		]}
			description={`
			Manga Collection est un projet scolaire, c'est un site web qui permet de gérer une collection de mangas,
			les utilisateurs peuvent ajouter des mangas, les modifier, les supprimer, et les consulter. Il y a également un système de connexion et d'inscription 
			pour que les utilisateurs puissent ajouter des manga dans leur panier.

			`}
		>
		</PortfolioCard>
		</div>
	</section>
</Layout>
